.w-pagination-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.w-pagination-previous {
  display: block;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  display: block;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

p {
  margin-bottom: 30px;
}

ul {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-left: 40px;
}

.body {
  background-color: #000;
  font-family: 'N27 webfont', sans-serif;
  color: #f0f0f0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.body.white {
  background-color: #f8f8f8;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 1000px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.square {
  padding-top: 100px;
  padding-bottom: 100px;
}

.img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.img._80p {
  width: 80%;
}

.img.width-80p {
  z-index: 0;
  width: 80%;
}

.img.hero {
  max-width: 850px;
  margin-top: 24px;
}

.img.vertical.horizonal {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 40%;
}

.img.aladin {
  max-width: 1000px;
}

.link-thumb {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  cursor: pointer;
}

.embed-vimeo {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  padding-top: 75.63%;
}

.embed {
  position: relative;
  width: 100%;
  height: auto;
}

.embed.bottom-right {
  width: 40%;
}

.wrap-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrap-footer.last {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.nav-link {
  margin-bottom: 5px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #f0f0f0;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-link:hover {
  color: #b3b3b3;
}

.nav {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-desktop {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 1000px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.section.hero {
  overflow: hidden;
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.section.intermediary {
  padding-bottom: 200px;
}

.section.full-width {
  overflow: hidden;
}

.section.light {
  background-color: transparent;
  color: #000;
}

.section.archives {
  background-color: transparent;
}

.collection-list-wrapper-archives {
  width: 100%;
}

.events-item {
  position: relative;
  width: 33%;
  margin-bottom: 10px;
  padding: 10px;
}

.events-collection-list-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.thumb {
  width: 100%;
}

.no {
  position: relative;
  display: inline;
  color: #a1a1a1;
  font-size: 12px;
  line-height: 20px;
}

.helper-archives {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info {
  position: relative;
  display: block;
  color: #a1a1a1;
  font-size: 12px;
  line-height: 20px;
}

.info.tosell {
  color: #1acf47;
  font-weight: 500;
}

.info.sold {
  color: #ff1567;
  font-weight: 500;
}

.info.measure {
  padding-right: 4px;
}

.status-wrapper {
  display: inline-block;
}

.filter-module {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding-left: 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.packer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrap-measures {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info.unit {
  padding-right: 10px;
}

.info.unit.lastchild {
  padding-right: 0px;
}

.arrow-height {
  height: 12px;
  padding-right: 5px;
}

.gradient {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -1px;
  z-index: 1;
  width: 100%;
  height: 35%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, rgba(0, 0, 0, 0.81)), to(#000));
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.81) 50%, #000);
}

.punchline-wrap {
  position: absolute;
  left: 0%;
  top: 140px;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.punchline {
  z-index: 2;
  font-size: 120px;
  line-height: 120px;
}

.punchline.middle {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.punchline.top-right {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  text-align: right;
}

.punchline.bottom-left {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  text-align: left;
}

.wrap-header {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100vh;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.subline {
  font-size: 35px;
  line-height: 50px;
  font-weight: 400;
  text-align: left;
}

.subline.faq {
  max-width: 700px;
}

.cta-big {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  margin-top: 80px;
  padding-right: 32px;
  padding-left: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 35px;
  background-color: #00be62;
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
}

.cta-avatar {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 25px;
}

.flex-center-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.highlight-cl-wrapper {
  width: 100%;
}

.highlight-cl-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.highlight-cl-item {
  position: relative;
  width: 50%;
  height: auto;
  margin-bottom: 120px;
}

.number {
  font-size: 135px;
  line-height: 145px;
}

.highlight-wrap-info {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.highlight-lightbox-link {
  position: relative;
  color: #f0f0f0;
  text-decoration: none;
}

.flex-start-end {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cta-text {
  letter-spacing: 0.5px;
}

.hero-slider {
  z-index: 0;
  width: 100%;
  height: 100%;
  min-width: 800px;
  background-color: transparent;
}

.hero-slide {
  overflow: hidden;
}

.hero-mask {
  width: 100%;
  height: auto;
}

.arrow-right {
  display: none;
}

.arrow-left {
  display: none;
}

.slider-icon {
  display: none;
}

.hero-wrap-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.lightbox-vertical {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lightbox-vertical.top-left {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lightbox-vertical.bottom-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.bottom-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-pulse-legend {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-bottom: 4px;
  padding: 6px 18px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.08);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.legend {
  margin-left: 10px;
  color: #f0f0f0;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.highlight-glass {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.legend-bis {
  display: inline-block;
  font-size: 10px;
  letter-spacing: 1.5px;
}

.legend-bis.margin {
  margin-left: 12px;
}

.legend-bis.space {
  margin-left: 5px;
}

.password__protection {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 94%, 0.72);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.form-2 {
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  border: 1px none #000;
  border-radius: 4px;
}

.submit-btn {
  width: 100%;
  border-radius: 4px;
  background-color: #00be62;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-weight: 400;
}

.submit-btn:hover {
  background-color: #00a957;
}

.btn-submit {
  border-radius: 5px;
  background-color: #4282d0;
}

.btn-submit.request {
  margin-top: 10px;
  padding: 8px;
  background-color: transparent;
  color: #000;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
}

.flex-top-space-btw-start-to-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading {
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
  text-align: left;
}

.faq__accordion-wrap-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.faq__accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition: color 300ms cubic-bezier(.455, .03, .515, .955);
  transition: color 300ms cubic-bezier(.455, .03, .515, .955);
  cursor: pointer;
}

.faq__wrap-flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.faq__wrap-flex-horizontal.faq__wrap-flex-horizontal--margin-bottom {
  width: 100%;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.faq__accrodion-heading {
  max-width: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  cursor: pointer;
}

.error__state-wrap {
  padding: 10px;
  border-radius: 5px;
  background-color: #ff6161;
  color: #fff;
  font-size: 12px;
}

.error__state-wrap.hide {
  display: none;
}

.faq__collection-list-wrapper {
  width: 100%;
  margin-top: 60px;
}

.paragraph {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
}

.paragraph.width-faq {
  max-width: 700px;
  margin-bottom: 40px;
}

.faq__accordion-item-content {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 30px;
}

.wrap-size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon {
  width: 12px;
  height: auto;
}

.embed-text-animated {
  position: absolute;
  left: 0%;
  top: 140px;
  right: auto;
  bottom: auto;
  z-index: 2;
  height: 25vw;
  max-height: 200px;
}

.embed-text-animated.last {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 80px;
}

.embed-arolle {
  position: absolute;
  width: 120%;
}

.wrapper-menu-mobile {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  color: #000;
}

.nav__mobile-wrap-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100vh;
  padding-left: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f0f0f0;
  box-shadow: 8px 0 16px 6px rgba(0, 0, 0, 0.5);
}

.nav__close-area {
  position: relative;
  z-index: 2;
  width: 20%;
  height: 100vh;
}

.wrapper-hamburger {
  position: relative;
  z-index: 999;
  display: block;
}

.link {
  margin-right: 32px;
  color: #fffffe;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.link.dark {
  margin-right: 0px;
  margin-bottom: 24px;
  color: #000;
}

.nav-wrap-mobile {
  position: relative;
  z-index: 999;
  display: none;
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.img-hover {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.lightbox-horizontal {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lightbox-horizontal.top-left {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 40%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lightbox-horizontal.bottom-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 991px) {
  h3 {
    font-size: 21px;
  }

  .body {
    font-size: 16px;
    line-height: 24px;
  }

  .container.archives {
    width: 90%;
  }

  .img.hero {
    max-width: none;
    min-width: 800px;
  }

  .img.aladin {
    padding-right: 10%;
    padding-left: 10%;
  }

  .embed-vimeo {
    width: 100%;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .punchline-wrap {
    top: 120px;
  }

  .punchline {
    font-size: 70px;
    line-height: 80px;
    cursor: auto;
  }

  .subline {
    font-size: 25px;
    line-height: 35px;
  }

  .subline.faq {
    max-width: 500px;
  }

  .cta-big {
    height: 60px;
    margin-top: 60px;
  }

  .cta-avatar {
    width: 40px;
    height: 40px;
  }

  .highlight-cl-item {
    margin-bottom: 80px;
  }

  .number {
    font-size: 120px;
    line-height: 135px;
  }

  .lightbox-vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .bottom-right {
    bottom: 5%;
  }

  .wrap-pulse-legend.size {
    display: none;
  }

  .highlight-glass {
    border-style: none;
    background-color: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  .heading {
    font-size: 30px;
    line-height: 45px;
  }

  .paragraph.width-faq {
    max-width: 500px;
  }

  .embed-text-animated {
    top: 120px;
  }

  .lightbox-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 18px;
    line-height: 28px;
  }

  .container {
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
  }

  .container.square {
    margin-right: 32px;
    margin-left: 32px;
  }

  .img.width-80p {
    width: 90%;
  }

  .embed {
    width: 100%;
  }

  .nav-link {
    font-size: 14px;
    line-height: 18px;
  }

  .nav {
    padding-top: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .nav-desktop {
    display: none;
  }

  .section.hero {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section.intermediary {
    padding-top: 0px;
    padding-bottom: 80px;
  }

  .section.full-width {
    padding-top: 0px;
  }

  .punchline-wrap {
    top: 60px;
    padding-left: 32px;
  }

  .punchline {
    font-size: 60px;
    line-height: 70px;
  }

  .wrap-header {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .subline {
    font-size: 20px;
    line-height: 30px;
  }

  .subline.faq {
    max-width: none;
  }

  .number {
    font-size: 80px;
    line-height: 90px;
  }

  .wrapper-header {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-right {
    bottom: 10%;
  }

  .heading {
    font-size: 25px;
    line-height: 35px;
  }

  .faq__wrap-flex-horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .faq__accrodion-heading {
    font-size: 25px;
    line-height: 35px;
  }

  .faq__collection-list-wrapper {
    margin-top: 40px;
  }

  .paragraph.width-faq {
    max-width: none;
  }

  .faq__accordion-item-content {
    margin-right: 0px;
  }

  .embed-text-animated {
    top: 60px;
    height: 30vw;
    margin-right: 32px;
    margin-left: 32px;
  }

  .wrapper-menu-mobile {
    -webkit-transform: translate(-110%, 0px);
    -ms-transform: translate(-110%, 0px);
    transform: translate(-110%, 0px);
  }

  .nav-wrap-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .container.square {
    margin-right: 24px;
    margin-left: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .img._80p {
    width: 85%;
  }

  .img.width-80p {
    width: 100%;
  }

  .wrap-footer {
    margin-bottom: 16px;
  }

  .wrap-footer.last {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .nav-desktop {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .events-item {
    width: 50%;
  }

  .tabs-menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tab-link {
    padding-right: 20px;
    padding-left: 20px;
  }

  .punchline {
    font-size: 50px;
    line-height: 55px;
  }

  .punchline.middle {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
  }

  .highlight-cl-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .highlight-cl-item {
    width: 90%;
  }

  .number {
    font-size: 120px;
    line-height: 130px;
  }

  .flex-top-space-btw-start-to-end.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .heading {
    font-size: 24px;
    line-height: 25px;
  }

  .nav__close-area {
    background-color: transparent;
  }
}

@font-face {
  font-family: 'N27 webfont';
  src: url("/assets/fonts/n27-regular-webfont.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url("/assets/fonts/poppins-regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url("/assets/fonts/poppins-medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url("/assets/fonts/poppins-light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}