<div class="css w-embed">
    <style>
  /*
   * global variables
  */
  :root {
  	--accent: #00be62;
    --white: rgba(255, 255, 255, 1);
    --header-stroke: .5px;
  }
</style>
    <style>
  /*
   * outlines for text
  */
  .outline {
   	color: transparent;
    text-stroke: var(--header-stroke) var(--white);
    -webkit-text-stroke: var(--header-stroke) var(--white);
    transition: color 1s;
  	transition-timing-function: ease-out;
  }
</style>
    <style>
  /*
   * text animated outlines
  */
  .surface-transparent {
    fill: transparent;
    stroke: #f7f7f7;
  }
  .surface-filled {
    fill: #f7f7f7;
  }
</style>
  </div>