<a href="{{ links.-1d04af2f }}" class="cta-big w-inline-block"><img src="{{ images.-3aa61a9a.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;40px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;5vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;50px&quot;}]" alt="{{ images.-3aa61a9a.alt | trim | escape }}" class="cta-avatar">
            <div class="cta-text">{{ texts.-48bda494 }}</div>
          </a>