<div class="embed-cursor w-embed">
    <!--  custom cursor -->
    <!-- 
<div class="custom-cursor">
	<div class="cursor cursor-large"></div>
	<div class="cursor cursor-small"></div>
</div>
 -->
  </div>