<div class="section wf-section">
      <div class="container">
        <div class="faq__wrap-flex-horizontal faq__wrap-flex-horizontal--margin-bottom">
          <div class="punchline">{{ texts.20d03d }}</div>
          {%- assign collection = collections.faq | sort: "f_order" -%}<div class="faq__collection-list-wrapper w-dyn-list">
            {%- unless collection.length == 0 -%}<div role="list" class="faq__collection-list-wrapper w-dyn-items">
              {%- for item in collection -%}<div role="listitem" class="faq__collection-item w-dyn-item">
                <div class="faq__accordion-item-wrap">
                  <div data-open="false" data-w-id="9588c439-9696-2092-9367-43d98dcd7f8f" class="faq__accordion-item-trigger">
                    <h2 class="subline faq">{{ item.data.title }}</h2>
                    <div class="faq__accordion-wrap-arrow">
                      <div class="w-embed">
                        <!--  arrow down  -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="11.692" height="7.26" viewBox="0 0 11.692 7.26">
                          <def>
                            <style type="text/css">
      .icon-arrow-faq {
        fill: none;
        stroke: var(--accent);
        stroke-width: 2;
        stroke-linecap: round;
      }
    </style>
                          </def>
                          <g transform="translate(1.414 1.414)">
                            <line class="icon-arrow-faq" y2="6.267" transform="rotate(-45)"></line>
                            <line class="icon-arrow-faq" y2="6.267" transform="translate(8.863 0) rotate(45)"></line>
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="faq__accordion-item-content">
                    <p class="paragraph width-faq">{{ item.data.f_answer }}</p>
                  </div>
                </div>
              </div>{%- endfor -%}
            </div>{%- endunless -%}
            {%- if collection.length == 0 -%}<div class="error__state-wrap w-dyn-empty">
              <div class="error__state-text">{{ texts.3d503d2b }}</div>
            </div>{%- endif -%}
          </div>
        </div>
      </div>
    </div>